.swiper-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 17px;
	cursor: pointer;
	background-color: var(--swiper-button-background);
	border-radius: 100%;
	border: none;
}