.breadcrumbs {
	display: flex;
    flex-wrap: wrap;
    padding: 32px 0 60px 0;
}

.info-group {
	align-items: center;
    color: var(--color-white);
    display: flex;
	gap: 10px;

	span {
		white-space: nowrap;

		a {
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 21px;
			color: var(--color-link);
		}

		.last {
			color: var(--color-subtext);
		}
	}
}