:root {
	--color-white: #fff;
	--color-light-gray: #f6f8fa;
	--color-black: #000;
	--color-green: #4caf50;
	--color-text: #1f2432;
	--color-subtext: #797b86;
	--color-link: #33374e;
	--border-color: #aeb0b6;
	--swiper-button-background: #90a2b5;
	--card-info-text: #2c3242;
	--card-color-border: #c4c4c4;
	--current-page-swiper: #212121;

}