.v-button {
	--button-background: #0069b4;
	--button-color: var(--color-white);
	--button-padding: 18px 113.5px;
	--button-hover: #004e86;
	--button-outline-hover: #004e86;
	border-radius: 4px;
	border: none;
	background-color: var(--button-background);
	color: var(--button-color);
	padding: var(--button-padding);
	font-size: var(--button-font-size);
	line-height: var(--button-line-height);
	cursor: pointer;
	font-weight: 600;
	font-family: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .3s;
    white-space: nowrap;

	&--color-white {
		--button-background: #0069b4;
		--button-color: #0069b4;

		&:hover {
			--button-hover: var(--color-white);
		}
	}

	&--color-gray {
		--button-background: var(--color-light-gray);
		--button-color: #33374E;

		&:hover {
			--button-hover: #e9e9e9;
		}
	}

	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	&:hover:not(.v-button[disabled]) {
		background-color: var(--button-hover);
	}
}

.v-button[data-size=large] {
    --button-font-size: 18px;
    --button-padding: 14px 113.5px;
    --button-line-height: 26.1px;
}

.v-button[data-size=medium] {
    --button-font-size: 16px;
    --button-padding: 14.5px 85px;
    --button-line-height: 23.2px;
}

.v-button[data-size=quantity] {
    --button-font-size: 16px;
    --button-padding: 17px 12px;
    --button-line-height: 1px;
	width: 32px;
    height: 32px;
}

// .v-button[data-size=quantity], v.v-button[data-appearance=fill] {
// 	&:hover {
// 		background-color: var(--button-hover);
// 	}
// }

.v-button[data-appearance=outline] {
	background-color: var(--color-white);
    box-shadow: inset 0 0 0 1px var(--button-background);
    --button-color: var(--button-background);

	&:hover:not(.v-button[data-appearance=outline]:disabled) {
		background-color: var(--button-outline-hover);
		--button-background: var(--button-outline-hover);
		--button-color: var(--button-hover);
	}
}

.v-button[data-appearance=text] {
    background-color: transparent;
    --button-color: var(--color-subtext);

	&:hover:not(.v-button[data-appearance=text]:disabled) {
		background-color: transparent;
		--button-color: var(--button-hover);
	}
}