.quantity {
	display: flex;
    align-items: center;


	&-count {
		margin: 0 5px;

		&__value {
			padding: 17px 12px;
			font-size: 16px;
			line-height: 1px;
			background-color: var(--color-light-gray);
			width: 32px;
			height: 32px;
		}
	}
}

.minus {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.plus {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}